<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Must be in everypage</h1>
  <% if(msg||message||error||err){ %>
  <h1> <%= msg %></h1>
  <% } %>
</body>
</html>