<h1>Welcome</h1>
<p>Welcome to storybooks 1.0.0</p>
<p>Write the good and bad of your stories and choose to share them the world or private for your own.
</p>
{{#unless user}}  
  
<a href="/auth/google" class="btn red darken-1"> <i class="fa-brands fa-google"></i> Login with google</a>

{{/unless}} 

